.list-con {
  margin: 10px;
  text-align: center;
}
.btn {
  font-size: 25px;
  font-weight: bold;
  font-family: Bree Serif;
  color: black;
  background-color: transparent;
  border-width: 0px;
}
.btn1 {
  color: aqua;
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
}
